


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}





.navbar {
 padding-left: 50px;
    padding-top: 40px;
  background-color: #FFc194;
  overflow: hidden;
  font-family: calibri;
}


.navbar a {
  float: right;
  font-size: 40px;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
    
}

a:link {
  color:black ;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: none;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: none;
  background-color: transparent;
  text-decoration: underline;
}

button:hover{
	color: none;
	background-color: #555;
	text-decoration: underline;
  }
	
.img1{
    padding-top: 90px;
    height: 300px;
    width:100%;
	
}
.logo{
    height: 100px;
    width:450px;
    position: absolute;
}

.Text1{
    font-size: 50px;
    font-family: 'EB Garamond';
   
}
body{
    background-color: #ffc194;
    margin:0px;
}
.container {
  position: relative;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size:100px;
    background-color: #FFc194;
    opacity: 0.8;
    font-weight: bold;
    border-radius: 20px;
	font-family: cursive;
    
}
.centered a{
    color: white;
    text-decoration: none;
}
.Cart{
    height:50px;
    width:50px;
    padding-left: 20px;
    position: absolute;
    left: 600px;
    top:55px;
}
hr{
    color: black;
    border-color: black;
    
}
.sale{
     font-size: 25px;
    position:relative;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}
/*shirt product images*/
.shirt{
    position: absolute;
    top: 330px;
    left:30px;
    height: 400px;
    width: 300px;    
	border-radius: 20px;
    background-color: lightgrey;
	border: 4px solid #555;

}

.shirt2{
    position: absolute;
    top: 330px;
    left:830px;
    height: 400px;
    width: 300px;    
	border-radius: 20px;
    background-color: lightgrey;
	border: 4px solid #555;
}

.shirt3{
    position: absolute;
    top: 830px;
    left:30px;
    height: 400px;
    width: 300px;    
	border-radius: 20px;
    background-color: lightgrey;
	border: 4px solid #555;
    
}

.shirt4{
    position: absolute;
    top: 830px;
    left:830px;
    height: 400px;
    width: 300px;    
	border-radius: 20px;
    background-color: lightgrey;
	border: 4px solid #555;

}


.shirt5{
    position: absolute;
    top: 1330px;
    left:30px;
    height: 400px;
    width: 300px;    
	border-radius: 20px;
    background-color: lightgrey;
	border: 4px solid #555;

}

.shirt6{
    position: absolute;
    top: 1330px;
    left:830px;
    height: 400px;
    width: 300px;    
	border-radius: 20px;
    background-color: lightgrey;
	border: 4px solid #555;
}


/*shirt product description*/

.Shirtdesc{
    position: absolute;
    top: 300px;
    left:345px;
    font-size: 40px;
	font-family: calibri;
}

.Shirtdesc2{
    position: absolute;
    top: 300px;
    left:1145px;
    font-size: 40px;
	font-family: calibri;
}

.Shirtdesc3{
	position: absolute;
    top: 805px;
    left:345px;
    font-size: 40px;
	font-family: calibri;
}

.Shirtdesc4{
	position: absolute;
    top: 805px;
    left:1145px;
    font-size: 40px;
	font-family: calibri;
}

.Shirtdesc5{
    position: absolute;
    top: 1305px;
    left:345px;
    font-size: 40px;
	font-family: calibri;
}

.Shirtdesc6{
    position: absolute;
    top: 1305px;
    left:1145px;
    font-size: 40px;
	font-family: calibri;
}





.button
{
	font-size: 30px;
	font-family: calibri;
	border-radius: 10px;

	
}



.dropbtn {
  background-color: #D9D9D9;
  color: Black;
  text-decoration: bold;
  padding: 16px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.dropdown {
    position: absolute;
    top:190px;
    text-align: right;
    right: 100px;
    font-size: 30px;
    padding: 1px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d9d9d9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #555;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #d9d9d9;}


.high{
    background-color: gainsboro;
    background-size:contain;
}
.footer{
    background-color: dimgray;
     position: absolute;
            top: 2000px;
            left: 0px;
            width: 100%;
    height: 250px;
            color: #fff;
            text-align: center;
           padding: 0px;
}
.ftlogo{
    height: 100px;
        width:350px;
        left:0px;
    float: left;
   top: 90px;
    position: absolute;
   
    left:40px
}
.ftnav{
    float: left;
    right: 100px;
     position: absolute;
     left:20px;
    bottom: 150px;
    padding: 0px;
    font-size: 30px;
    text-align: left;
    color: black;
    
   
}
.ftnav a{
    color: white;
   
}
.copyright{
    text-align: left;
    top:200px;
    position: absolute;
    left: 20px;
}
.ftcontact{
    left: 800px;
    position: absolute;

    
    font-size: 40px;
    bottom: 10px
}
